@import "tailwindcss";

@font-face {
    font-family: "Inter";
    src: url('../assest/font/inter/Inter_variable.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}
body {
    font-family: "Inter", sans-serif;
    background-color:#f9f7f7;
    font-weight:400;
    color:#000;
}
/* styles/globals.css */
/* .sidebar-chat-containers::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  .sidebar-chat-containers::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .sidebar-chat-containers::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .sidebar-chat-containers::-webkit-scrollbar-track {
    background: transparent;
  } */
  
  /* .scrollbar-hidden::-webkit-scrollbar {
 width: 0;
    height: 0;
    background: transparent;
  }
  
  .scrollbar-visible::-webkit-scrollbar:hover {
    width: 8px;
    height: 8px;
  } */
  
  .sidebar-chat-containers::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar-chat-containers {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  

  
  .contact-card-conatiner::-webkit-scrollbar, .chat-conversation-section::-webkit-scrollbar  {
    width: 6px;
    height: 6px;
  }
  
  .contact-card-conatiner::-webkit-scrollbar-thumb, .chat-conversation-section::-webkit-scrollbar-thumb  {
    background-color: #888;
    border-radius: 4px;
  }
  
  .contact-card-conatiner::-webkit-scrollbar-thumb:hover, .chat-conversation-section::-webkit-scrollbar-thumb:hover  {
    background-color: #555;
  }
  
  .contact-card-conatiner::-webkit-scrollbar-track, .chat-conversation-section::-webkit-scrollbar-track  {
    background: transparent;
  } 
  @media (max-width:767px){
    .contact-card-conatiner::-webkit-scrollbar, .chat-conversation-section::-webkit-scrollbar  {
      width: 3px;
      height: 3px;
    }
  }